/*@font-face {
  font-family: 'Minion Pro Bold';
  src: url('../fonts/MinionPro-Bold.eot');
  src: url('../fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-Bold.woff') format('woff'),
       url('../fonts/MinionPro-Bold.ttf')  format('truetype'),
       url('../fonts/MinionPro-Bold.svg#d50e19e52400e7ead72aae3dd972b622') format('svg');
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Minion Pro Bold Italic';
  src: url('../fonts/MinionPro-BoldIt.eot');
  src: url('../fonts/MinionPro-BoldIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-BoldIt.woff') format('woff'),
       url('../fonts/MinionPro-BoldIt.ttf')  format('truetype'),
       url('../fonts/MinionPro-BoldIt.svg#39d468e57b0b6224ab111c611732db8e') format('svg');
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Minion Pro Italic';
  src: url('../fonts/MinionPro-It.eot');
  src: url('../fonts/MinionPro-It.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-It.woff') format('woff'),
       url('../fonts/MinionPro-It.ttf')  format('truetype'),
       url('../fonts/MinionPro-It.svg#4ca7262bde578ad3c2c0c1500f99cba2') format('svg');
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Minion Pro Regular';
  src: url('../fonts/MinionPro-Regular.eot');
  src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-Regular.woff') format('woff'),
       url('../fonts/MinionPro-Regular.ttf')  format('truetype'),
       url('../fonts/MinionPro-Regular.svg#e14324dc900cd012f29ed0264e357058') format('svg');
  font-style:   normal;
  font-weight:  normal;
}*/

@font-face {
  font-family: 'Minion Pro SmBd';
  src: url('../fonts/MinionPro-Semibold.eot');
  src: url('../fonts/MinionPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-Semibold.woff') format('woff'),
       url('../fonts/MinionPro-Semibold.ttf')  format('truetype'),
       url('../fonts/MinionPro-Semibold.svg#18427bec91eae7311e94400f1590375e') format('svg');
  font-style:   normal;
  font-weight:  normal;
}

/*@font-face {
  font-family: 'Minion Pro SmBd Italic';
  src: url('../fonts/MinionPro-SemiboldIt.eot');
  src: url('../fonts/MinionPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-SemiboldIt.woff') format('woff'),
       url('../fonts/MinionPro-SemiboldIt.ttf')  format('truetype'),
       url('../fonts/MinionPro-SemiboldIt.svg#6338b1e8548b36604a01deed751de0ff') format('svg');
  font-style:   normal;
  font-weight: normal;
}*/

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
	font-family: 'chc';
	src:url('../fonts/chc.eot?twhbhc');
	src:url('../fonts/chc.eot?#iefixtwhbhc') format('embedded-opentype'),
		url('../fonts/chc.woff?twhbhc') format('woff'),
		url('../fonts/chc.ttf?twhbhc') format('truetype'),
		url('../fonts/chc.svg?twhbhc#chc') format('svg');
	font-weight: normal;
	font-style: normal;
}

.proxima(@size){
	font-family: 'proxima_nova_rgregular', sans-serif;
	font-weight: normal;
	font-size: @size;
}

.proxima-light(@size){
	font-family: 'proxima_novalight', sans-serif;
	font-weight: normal;
	font-size: @size;
}

/*.proxima-semibold(@size){
	font-family: 'proxima_novasemibold', sans-serif;
	font-weight: normal;
	font-size: @size;
}*/

.proxima-bold(@size){
	font-family: 'proxima_nova_rgbold', sans-serif;
	font-weight: normal;
	font-size: @size;
}

/*.minion-bold(@size){
	font-family: 'Minion Pro Bold', sans-serif;
	font-weight: normal;
	font-size: @size;
}
.minion-bold-ita(@size){
	font-family: 'Minion Pro Bold Italic', sans-serif;
	font-weight: normal;
	font-size: @size;
}
.minion-ita(@size){
	font-family: 'Minion Pro Italic', sans-serif;
	font-weight: normal;
	font-size: @size;
}
.minion-regular(@size){
	font-family: 'Minion Pro Regular', sans-serif;
	font-weight: normal;
	font-size: @size;
}*/
.minion-smbold(@size){
	font-family: 'Minion Pro SmBd', sans-serif;
	font-weight: normal;
	font-size: @size;
}
/*.minion-smbold-ita(@size){
	font-family: 'Minion Pro SmBd Italic', sans-serif;
	font-weight: normal;
	font-size: @size;
}*/


[class^="icon-"], [class*=" icon-"] {
	font-family: 'chc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-linkedin:before {
	content: "\e601";
}
.icon-email:before {
	content: "\e602";
}